.bgFooter{
    background-image: linear-gradient(lightblue,black);
}
.navColor{
    color:white;
}
.logoRrss{
    display: flex;
    justify-content: space-evenly;
}
.txtColor{
    color: white;
}
main{
    background-image: radial-gradient(white,lightblue);}
.centrarImg{
    display: flex;
    justify-content: center;
}
.achicarWeb{
    width: -webkit-fill-available;
}
.centrarTxt{
    text-align: center;
}
@media only screen and (max-width: 768px){
.centrar{
    text-align: center;

}
p{
text-align: center;
}
.seguinos{
    color: white;
    font-size: 1rem;
    text-align: center;
}
.achicarWeb{
    width: -webkit-fill-available;
}
}
